.anchors{
-fx-background-color:#fff8e7;
    -fx-pref-width:920;
    -fx-pref-height:720;
}

.anchorsitem{
    -fx-background-color:#d2d8c0;
    -fx-pref-width:550;
    -fx-pref-height:500;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.scrollpane{
-fx-background-color: rgba(0,0,0,0);
}
.rounded{
-fx-background-radius:15;
}
.searchbtn{
    -fx-background-color:#d2d2d2;

}
.searchbox{
    -fx-background-color:#ffffff;
    -fx-pref-width:250;
    -fx-pref-height:50;
    -fx-background-radius:30;

}

.menubox{
    -fx-background-color:#ffffff;
    -fx-pref-width:250;
    -fx-pref-height:500;
    -fx-background-radius:30;

}
.toolbar{
    -fx-background-color:#d2d8c0;
    -fx-background-radius: 15;
    -fx-pref-width:880;
    -fx-pref-height:60;

}
.logo{
      -fx-width:50;
         -fx-height:10;

}
.itemviewicon{
-fx-background-color:#d2d8c0;
    -fx-background-radius: 30;
}
.shadow{
-fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0);
}